<%- include('includes/head.ejs') %>
</head>

<body>
    <%- include('includes/navigation.ejs') %>
    <h1>An error occurred on the server side!</h1>
    <p>This will be fixed soon, please come and try again soon!</p>

<%- include('includes/end.ejs') %>